

<h1> mm hotel</h1>
<div class="row" *ngIf="currentReservations">
  <h1>Current Reservation</h1>
  <div *ngFor="let reservation of currentReservations">
<ul>
  <li><strong>Room No:</strong> {{reservation.roomNumber}}</li>
  <li><strong>Price:$</strong> {{reservation.price}}</li>
  <li><strong>CheckIn</strong> {{reservation.checkIn}}</li>
  <li><strong>checkOut</strong> {{reservation.checkOut}}</li>
</ul>
  </div>

</div>


<h1>Available Rooms</h1>
<div class="row" *ngIf="rooms">
<div class="col-12">
  <div class="table-responsive">
    <table class="table" id="roomsTable">
<tbody>
  <tr *ngFor=" let room of rooms">
    <td></td>
    <td>
      <strong> Room No:{{room.roomNumber}}</strong> --------------<strong> Price:{{room.price}}</strong>
    
     
    </td>
  </tr>
</tbody>
    </table>
  </div>
</div>
</div>

<hr/>
<h1>Reserve Room</h1>
<form  class="form-horizontal" [formGroup]="roomSearchForm" (ngSubmit)="createReservation()">
<div class="form-group">
<label for="checkin" class="col-4"> checkin</label>
<div class="col-8">
  <input id="checkin" type="date" class="form-control" formControlName="checkin"> 
</div>
  </div>

  <div class="form-group">
<label for="checkin" class="col-4"> checkOut</label>
<div class="col-8">
  <input id="checkout" type="date" class="form-control" formControlName="checkout"> 
</div>
  </div>

  <div class="form-group">
<label for="roomNumber" class="col-4"> Room Number</label>
<div class="col-8">
  <select id="roomNumber" class="form-control" formControlName="roomNumber"> 
    <option *ngFor="let room of rooms" [value]="room.roomNumber +'|'+ room.price">
      {{room.roomNumber}}
    </option>
  </select>
</div>
  </div>

  <div class="for-group">
    <div class="form-offset-2 col-10">
      <button type="submit" class="btn btn-primary btn-large"> Reserve Room</button>
    </div>
  </div>
</form>
<!-- <router-outlet></router-outlet> -->